@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
}

.titulo{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgb(38, 22, 133) 25%, rgb(11, 10, 94) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
  }
  
  ul{
    display: flex;
    cursor: pointer;
  }
  
  li a:hover{
    color: #746dd8;
  }
  
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Dosis';
    background: linear-gradient(to right, rgb(30, 15, 119) 25%, rgb(9, 7, 100) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span{
      font-family: 'Dosis';
      color: #2f26a5;
  }
  
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
  }

  #menu a:hover{
    color: #1916be;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 800px) {
    #menu {
      display: block;
      position: absolute;
      width: 270px;
      top: 70px;
      right: 0px;
      background: rgb(207, 205, 205);
      transition: 0.6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      border-radius: 0px 0px 10px 10px;
    }
    #nav.active #menu {
      height: 300px;
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.02);
      font-family: 'Poppins';
      font-weight: 500;
    }
    #menu a:hover {
        color: #1916be;
    }
    #btn-mobile {
      display: flex;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      align-items: center;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.2s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    li:hover::after{
        display: none;
    }
  }



.linha{
    width: 100%;
    border: 1px solid rgb(207, 205, 205);
}

/*HOME*/

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-texto h1{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.home-texto span{
    background: linear-gradient(to right, rgb(30, 15, 119) 25%, rgb(9, 7, 100) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 600;
}

.button{
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(67, 65, 201), rgb(10, 19, 145));
    width: 90px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}

.button:hover{
    background: rgb(36, 53, 148);
}

.icones-home{
    flex-direction: column;
    padding-top: 60px;
    font-size: 1.3rem;
}

@media screen and (max-width: 800px){
    .home-texto span{
        font-size: 2rem;
    }
}

@media (max-width: 600px){
  .home-img{
    display: none;
  }
  .home-texto{
    padding-top: 100px;
  }
  .home-texto span{
    font-size: 3.5rem;
  }
  .titulo{
    padding-top: 80px;
  }
}


.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.about-texto{
    width: 700px;
    font-weight: 500;
    font-size: 0.9rem;
}

@media screen and (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .about-texto{
        width: 600px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px){
  .about{
    flex-direction: column;
  }
.about-texto{
    width: 400px;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 400px){
  .about-texto{
    width: 300px;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* SKILLS */

.l-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 300px);
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.card-skill{
  background: rgb(238, 231, 232);
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 30px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  box-shadow: 3px 2px 9px  rgba(0,0,0,0.5);
}

.card-skill:hover{
  transform: translateY(-5px);
  cursor: pointer;
}


#card-icone{  
  font-size: 3rem;
  padding-top: 10px;
  color: blue;
}

.card-texto{
  font-size: 1.3rem;
}

@media screen and (max-width: 800px){
    .skills-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .card{
        width: 250px;
        height: 150px;
        margin-left: 15px;
    }
    .skill-title{
        font-size: 1.5rem;
    }
    .card p{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 600px){
  .skills-row{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .card{
    width: 400px;
    height: 130px;
  }
  .skill-title{
    font-size: 1rem;
  }
  .card p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px){
  .card{
    width: 200px;
    height: 130px;
  }
}



/*PROJETO*/
.projeto{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.projeto-img img{
    padding-top: 30px;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.projeto-img img:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .projeto{
        align-items: center;

    }
    .projeto-img img{
        padding-top: 30px;
        width: 150px;
        height: 300px;
        border-radius: 5px;
        transition: all 0.3s ease-out;
    }
}

@media screen and (max-width: 600px){
  .projeto{
    align-items: center;
    flex-direction: column;

}
.projeto-img img{
    padding-top: 30px;
    width: 150px;
    height: 300px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
}

.titulo-contato{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  background: linear-gradient(to right, rgb(38, 22, 133) 25%, rgb(11, 10, 94) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -60px;
}

.contato {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 450px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.contato-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contato-info .title {
  color: #1a23a7;
}

.contato-text {
  color: #000;
  margin: 1.5rem 0 2rem 0;
  width: 400px;
}

.informacao p{
  display: flex;
  color: #000;
  margin: 1rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media p{
  padding-top: 1.5rem;
}

.social-icons {
  display: flex;
  margin-top: 1rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #2834d6, #141c92);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.social-icons i{
  color: #fff;
}



@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contato-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contato-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contato-info:before {
    display: none;
  }


  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

}


footer{
    background: #231b8d;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 600px){
  footer{
    width: 100%;
  }
}
  