@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
}

.titulo{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgb(38, 22, 133) 25%, rgb(11, 10, 94) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
  }
  
  ul{
    display: flex;
    cursor: pointer;
  }
  
  li a:hover{
    color: #746dd8;
  }
  
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Dosis';
    background: linear-gradient(to right, rgb(30, 15, 119) 25%, rgb(9, 7, 100) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span{
      font-family: 'Dosis';
      color: #2f26a5;
  }
  
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
  }

  #menu a:hover{
    color: #1916be;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 800px) {
    #menu {
      display: block;
      position: absolute;
      width: 270px;
      top: 70px;
      right: 0px;
      background: rgb(207, 205, 205);
      transition: 0.6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      border-radius: 0px 0px 10px 10px;
    }
    #nav.active #menu {
      height: 300px;
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.02);
      font-family: 'Poppins';
      font-weight: 500;
    }
    #menu a:hover {
        color: #1916be;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.2s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    li:hover::after{
        display: none;
    }
  }


.linha{
    width: 100%;
    border: 1px solid rgb(207, 205, 205);
}

/*HOME*/

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-texto h1{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.home-texto span{
    background: linear-gradient(to right, rgb(30, 15, 119) 25%, rgb(9, 7, 100) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 600;
}

.button{
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(67, 65, 201), rgb(10, 19, 145));
    width: 90px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}

.button:hover{
    background: rgb(36, 53, 148);
}

.icones-home{
    flex-direction: column;
    padding-top: 60px;
    font-size: 1.3rem;
}

@media screen and (max-width: 800px){
    .home-texto span{
        font-size: 2rem;
    }
}




.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.about-texto{
    width: 700px;
    font-weight: 500;
    font-size: 0.9rem;
}

@media screen and (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .about-texto{
        width: 600px;
        font-size: 0.8rem;
    }
}

/* SKILLS */

.skills-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 80px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(40, 40, 40, 0.22);
    padding: 30px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
    padding-top: 40px;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


.skill-title{
    text-align: center;
}
   
.card p {
    font-size: 50px;
    text-align: center;
}

.card-icon i{
    color: #221a97d5;
}

.blue {
    border-left: 3px solid #120a7c;
}

@media screen and (max-width: 800px){
    .skills-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .card{
        width: 250px;
        height: 150px;
        margin-left: -15px;
    }
    .skill-title{
        font-size: 1.2rem;
    }
    .card p{
        font-size: 2rem;
    }
}

.projeto{
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
    margin-bottom: 80px;
}

.projeto-img img{
    padding-top: 30px;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.projeto-img img:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .projeto{
        align-items: center;

    }
    .projeto-img img{
        padding-top: 30px;
        width: 150px;
        height: 300px;
        border-radius: 5px;
        transition: all 0.3s ease-out;
    }
}


.contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
  width: 300px;
  height: 400px;
  padding: 20px 10px;
  margin: 20px;
  box-shadow: 2px 3px 9px 1px rgba(0,0, 0, 0.5);
}


label{
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 10px;
}

input{
  display: block;
  border: 1px solid rgb(44, 51, 156);
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 250px;
  padding: 5px;
}

textarea{
  border: 1px solid rgb(44, 51, 156);
  border-radius: 5px;
  resize: none;
  width: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 100px;
  padding: 5px;
}


button{
  border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(67, 65, 201), rgb(10, 19, 145));
    width: 90px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}

button:hover{
  background: rgb(36, 53, 148);
}






footer{
    background: #231b8d;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
  